<article>
    <div class="row">
        <h1>Fitness Tracker</h1>
    </div>
    <div class="row">
        <p>This website allows users to input and analyze their fitness data.</p>
    </div>
</article>